@{
   ViewData["Title"] = "Help";
}
<h1>@ViewData["Title"]</h1>

<div class="row g-0">
    <div class="col-sm-6 col-md-4">
        <h2><br>Contacts<br><br></h2>
        <h5>Phone: 0766906354<br><br><br></h5>
        <h5>E-mail: fptbook@gmail.com<br><br><br></h5>
        <h5>Address: An Phu Ward, Ninh Kieu District, Can Tho City, Vietnam<br><br><br></h5>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d505.49676480583247!2d105.7775619286594!3d10.029230008612759!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a062a8990f568d%3A0x2a22d599b2c06b23!2zxJDhuqFpIEjhu41jIEdyZWVud2ljaCAoVmnhu4d0IE5hbSkgLSBDxqEgc-G7nyBD4bqnbiBUaMah!5e0!3m2!1svi!2s!4v1666595470856!5m2!1svi!2s" width="400px" height="225px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-sm-6 col-md-8">
        <h2><br>Common errors<br><br></h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Topic</th>
                    <th scope="col">Question</th>
                    <th scope="col">Answer</th>
                </tr>
            </thead>
            <tbody class="table-group-divider table-divider-color">
                <tr>
                    <td>Register</td>
                    <td>How to enter the correct form of password?</td>
                    <td>Password must contain letters, capital letters, numbers and special characters.<br/> Example: 123@Customer</td>
                </tr>
                <tr>
                    <td>Check out</td>
                    <td>How can I check out?</td>
                    <td>User has to select and add products to cart, and then click order to place an order.</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>