@model List<FPTBook.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

<section class="section" id="men">
    <div class="container">
        <form asp-controller="Book" asp-action="Index" style="margin-bottom: 1rem;">
            <p>
                Book Title: <input type="text" name="SearchString" />
                <input type="submit" class="btn btn-info" value="Search" />
            </p>
        </form>
        <div class="row">
            <div class="col-lg-12">
                <div class="men-item-carousel">
                    <div class="owl-men-item owl-carousel">
                        @foreach (var item in Model)
                        {
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a asp-action="Details" asp-route-id="@item.Id"><i
                                                    class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="~/uploads/@item.UploadImage" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                                    <span>$@Html.DisplayFor(modelItem => item.Price)</span>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>